*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
font-family: Arial, Helvetica, sans-serif;   
font-size: 12px; 
}

.email{
    position: absolute;
    left:190px;
    top: 0px;
}

button{
    width: 152px;
    height: 40px;
    margin-top: 6px;
    background-color: aliceblue;
    color:rgb(2,0,36); 
    text-transform: uppercase;
    margin-left: 15px;
    border-radius: 10px;
    
}

.box{
    width: 26%;
    height: 257px;
    position: relative;
    background-color: blanchedalmond;
    border-right:5px ;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,6,79,0.5713935232296043) 51%);
}

.box input {
  background: transparent;
  padding:3px 0 ;
  margin: 7px 20px;
  border-color: gray;
  border-spacing: 2px;
}

.mess textarea{
    background: transparent;
    width: 360px;
    height: 100px;
    margin: 11px 18px;
}

.box label{
    color: aliceblue;
    padding-left: 19px;
}

.mess label{
    color: aliceblue;
}