*{
    box-sizing: border-box;
    padding: 0;
    margin: 0  ;
}
.container{
   border: 2px solid black;
   height: 210px;
   width: 890px;
   
}

.top{
display: flex;
justify-content: space-evenly;
}

.bottom{
    display: flex;
    justify-content: space-evenly;
}

.child{
    border: solid green;
    justify-content: center;
    height: 80px;
    width: 200px;
    line-height: 80px;
    text-align: center;
    margin: 10px 10px;
background-color: green;
}

.diff{
    flex-grow: 2;
    border: solid green;
    justify-content: center;
    height: 80px;
    width: 200px;
    line-height: 80px;
    text-align: center;
    margin: 10px 10px;
background-color: green;
}